{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="notificacion" class="notificacion"></div>
    <header class="header">
        <div class="menu container">
            <img src="{% static 'imagenes/crlogo2.png' %}" class="logo" alt="">
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="{% static 'imagenes/menu.png' %}" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img src="{% static 'imagenes/car.svg' %}" id="img-carrito" alt="">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-content container">
            <div class="header-img">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
            </div>
            <div class="header-txt">
                <h1>La elegancia del tiempo</h1>
                <p>Precisión inigualable</p>
                <a href="#" class="btn-1">Comprar Ahora</a>
            </div>
        </div>
    </header>
    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="{% static 'imagenes/f1.png' %}" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Producto 1</h3>
                <a href="#" class="btn-2">Información</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="{% static 'imagenes/f2.png' %}" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Producto 2</h3>
                <a href="#" class="btn-2">Información</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="{% static 'imagenes/f3.png' %}" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Producto 3</h3>
                <a href="#" class="btn-2">Información</a>
            </div>
        </div>
        </div>
    </section>
    <main class="products container" id="lista-1">
        <h2>Productos</h2>
        <div class="product-content"> 
            <div class="product">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
                <div class="product-txt">
                    <h3>Rolex</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
                <div class="product-txt">
                    <h3>Rolex</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
                <div class="product-txt">
                    <h3>Rolex</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
                <div class="product-txt">
                    <h3>Rolex</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
                <div class="product-txt">
                    <h3>Rolex</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                </div>
            </div>
            <div class="product">
                <img src="{% static 'imagenes/rolex1.jpg' %}" alt="">
                <div class="product-txt">
                    <h3>Rolex</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </main>
    <section class="icons container">
        <div class="icon-1">
            <div class="icon-img">
                <img src="{% static 'imagenes/i1.svg' %}" alt="">
            </div>
            <div class="icon-txt">
                <h3>Lorem, ipsum dolor sit</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <img src="{% static 'imagenes/i2.svg' %}" alt="">
            </div>
            <div class="icon-txt">
                <h3>Lorem, ipsum dolor sit</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <img src="{% static 'imagenes/i3.svg' %}" alt="">
            </div>
            <div class="icon-txt">
                <h3>Lorem, ipsum dolor sit</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </section>
    <section class="blog container">
        <div class="blog-1">
            <img src="{% static 'imagenes/b1.jpg' %}" alt="">
            <h3>Blog 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nihil, autem esse error quas eveniet dignissimos facilis inventore non nobis neque minus soluta quam eligendi voluptates, dolor quibusdam fugiat temporibus.
            </p>
        </div>
        <div class="blog-1">
            <img src="{% static 'imagenes/b2.jpg' %}" alt="">
            <h3>Blog 2</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nihil, autem esse error quas eveniet dignissimos facilis inventore non nobis neque minus soluta quam eligendi voluptates, dolor quibusdam fugiat temporibus.
            </p>
        </div>
        <div class="blog-1">
            <img src="{% static 'imagenes/b3.jpg' %}" alt="">
            <h3>Blog 3</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nihil, autem esse error quas eveniet dignissimos facilis inventore non nobis neque minus soluta quam eligendi voluptates, dolor quibusdam fugiat temporibus.
            </p>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <ul>
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li><a href="#">Asistencia al cliente</a></li>
                </ul>
            </div>
            <div class="social">
                <ul>
                    <li><img width="48" height="48" src="https://img.icons8.com/color/48/instagram-new--v2.png" alt="instagram-new--v2"/></li>
                    <li><img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></li>
                </ul>
            </div>
        </div>
    </footer>
<script src="{% static 'scrip.js' %}"></script>
</body>
</html>